header {
    background-color: black;
    text-align: center;
    position: relative;
}
header h1 {
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    max-width: fit-content;
    text-align: center;
    background-color: aquamarine;
}
footer {
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}